In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\nathalja\appdata\local\programs\python\python312\lib\site-packages (8.3.0)

In [2]:
import mysql.connector as connector

In [4]:
connection = connector.connect(user = "yourusername", password = "yourpassword", db = "LittleLemonDB")

In [5]:
cursor = connection.cursor()

In [12]:
# Task 2: show all tables in database

show_tables_query = "SHOW tables"
cursor.execute(show_tables_query)
results = cursor.fetchall()
print(results)

[('actions',), ('bookings',), ('customer',), ('deliverystatus',), ('menu',), ('menuitems',), ('orders',), ('ordersview',), ('staff',)]

In [13]:
# Task 3: Query with table JOIN

join_query = '''SELECT Customer.FirstName, Customer.LastName, Customer.Email, Customer.PhoneNo, Orders.TotalCost
FROM Customer INNER JOIN Orders ON Customer.CustomerID = Orders.CustomerID
WHERE TotalCost > 60'''

cursor.execute(join_query)
results = cursor.fetchall()
for i in results:
    print(i)